.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 300px;
}

.img-wrapper {
  position: relative;
}

.overlay-dark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
